*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', monospace;
}
html,
body,
#map {
    height: 100%;
    width: auto;
    color: #FFF;
    background-color: #FFF;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
}
.overlay-icon{
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
}
#card {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    min-width: 140px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}
.color-small {
    color: #c5c5c5;
}

.main {
    line-height: 15px;
    margin: 0 !important;
}

.font-size-12 {
    font-size: 12px;
}

.temperature h3 {
    display: inline-block;
    font-size: 32px;
    vertical-align: top;
    margin: 10px 0 0;
}
.temperature img{
    width: 60px;
}
.temperature sup {
    font-size: 15px;
}

.others small {
    line-height: 15px;
    display: block;
}

.heading h3 {
    margin: 0 0 10px 0;
    font-weight: 500;
}

#description {
    text-transform: capitalize;
}